<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="pt-br">
    <head>
        <meta charset="UTF-8">
        <title>Lista de Categorias</title>
        <link rel="stylesheet" th:href="@{/css/style.css}">
        <script th:src="@{/js/script.js}"></script>
    </head>
    <body>
        <div class="container">
            <h2>Listagem de Categorias</h2>
            <div class="tabela-container">
                <table border="1">
                    <thead>
                        <tr>
                            <th>ID</th>
                            <th>Nome</th>
                            <th>Valor</th>
                            <th>Ações</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr th:each="cat : ${categorias}">
                            <td th:text="${cat.id}"></td>
                            <td th:text="${cat.nome}"></td> <!-- CORRIGIDO AQUI -->
                            <td th:text="${cat.valor}"></td>
                            <td>
                                <a th:href="@{/categorias/editar/{id}(id=${cat.id})}">Editar</a> |
                                <a th:href="@{/categorias/excluir/{id}(id=${cat.id})}" onclick="return confirm('Excluir?')">Excluir</a>
                            </td>
                        </tr>
                    </tbody>
                </table>
                <div class="buttons" style="margin-top: 20px;">
                    <a th:href="@{/categorias/cadastro}" style="background:#1b66ff; color:white; padding:10px 20px;">Nova Categoria</a>
                    <a th:href="@{/admin-home}" style="margin-left:20px; background:#006603; color:white; padding:10px 20px;">Voltar</a>
                </div>
            </div>

        </div>
        <footer>Exata Locadora de Equipamentos!</footer>
    </body>
</html>
